.App {
  text-align: center;
}

.section-box {
  padding: 20px;
  margin: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  flex-direction:row;
  display: flex;
  justify-content: left;
  transition: all 0.3s ease;
  cursor: pointer;
}
/*Sectionbox hover effect*/
.section-box:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}